<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(pageTitle='Reset Password')" />
<body>
	<div th:replace="fragments :: header"></div>
	<div align="center">
		<h1>Reset Password</h1>
		<br/>
		<form action="#" th:action="@{/reset-password}" th:object="${resetPasswordReq}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Password:</td>
					<td><input type="password" th:field="*{password}" class="form-control" placeholder="Enter password" /></td>
				</tr>
				<tr>
					<td>Confirm Password:</td>
					<td><input type="password" th:field="*{matchingPassword}" class="form-control" placeholder="Enter confirm password" /></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><button type="submit" class="btn btn-primary">Reset password</button></td>
				</tr>
			</table>
			<br/>
			<div th:if="${#fields.hasAnyErrors() || #fields.hasErrors('global')}">
				<h4 class="text-danger">Errors:</h4>
				<ul>
					<li th:each="err : ${#fields.allErrors()}" th:text="${err}" class="text-danger" />
				</ul>
			</div>
		</form>
	</div>
</body>
</html>